<div class="content-heading">
    <div>Usuarios
        <small>Lista de Usuarios</small></div>
</div>
<div class="card card-default">
    <div class="card-header">Lista de Usuarios</div>
    <!-- START table-responsive-->
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-responsive" id="table-ext-1">
            <thead>
                <tr>
                    <th>UID</th>
                    <th>Perfil</th>
                    <th>Username</th>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>Email</th>

                    <th>Activo</th>
                    <!-- <th>Ultimo Acceso</th> -->
                    <!-- <th checkAll>
                        <div class="checkbox c-checkbox">
                            <label>
                              <input type="checkbox" />
                              <span class="fa fa-check"></span>
                          </label>
                        </div>
                    </th> -->
                    <th>
                        <button [routerLink]="['/config/usuario', '0']" type="button" class=" btn btn-outline-success btn-sm">+</button>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" style="display: none" data-toggle="modal" data-target="#usuarioModal">
                            Launch demo modal
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios; let i = index ">
                    <td>{{ usuario.id }}</td>
                    <td>
                        <div class="media">
                            <img class="img-fluid circle" src="assets/img/user/01.jpg" alt="Image" />
                        </div>
                    </td>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.apellido }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.email }}</td>
                    <!-- <td class="text-center">
                        <div class="radial-bar radial-bar-25 radial-bar-xs" data-label="25%"></div>
                    </td> -->
                    <td>
                        <label class="switch">
                        <input type="checkbox" name="estado" [(ngModel)]="usuario.estado" disabled="disabled"/>
                        <span></span>
                        </label>
                    </td>
                    <!-- <td>1 week</td> -->
                    <!-- <td>
                        <div class="checkbox c-checkbox">
                            <label>
                              <input type="checkbox" />
                              <span class="fa fa-check"></span>
                          </label>
                        </div>
                    </td> -->
                    <td>
                        <button [routerLink]="['/config/usuario', usuario.id]" type="button" class="fa fa-edit btn btn-outline-success btn-sm"> </button>
                        <a (click)="editUser(usuario)" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a (click)="deleteUser(usuario)" class="btn btn-sm btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <!-- END table-responsive-->
    <div class="card-footer">
        <div class="d-flex">
            <div>
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search" />
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="Search">Button</button>
                    </div>
                </div>
            </div>
            <div class="ml-auto">
                <div class="input-group float-right">
                    <select class="custom-select" id="inputGroupSelect04">
                      <option value="0">Bulk action</option>
                      <option value="1">Delete</option>
                      <option value="2">Clone</option>
                      <option value="3">Export</option>
                  </select>
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- START card-->
<div class="card card-default" style="display: none">
    <div class="card-header">Demo Table #2</div>
    <!-- START table-responsive-->
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="table-ext-2">
            <thead>
                <tr>
                    <th checkAll>
                        <div class="checkbox c-checkbox">
                            <label>
                              <input type="checkbox" />
                              <span class="fa fa-check"></span>
                          </label>
                        </div>
                    </th>
                    <th>Description</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                              <input type="checkbox" />
                              <span class="fa fa-check"></span>
                          </label>
                        </div>
                    </td>
                    <td>
                        <div class="media">
                            <a class="float-left" href="#">
                                <img class="img-fluid circle" src="assets/img/user/01.jpg" alt="" />
                            </a>
                            <div class="media-body">
                                <div class="float-right badge badge-info">admin</div>
                                <h4>Holly Wallace</h4>
                                <p>Username: holly123</p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                                vulputate fringilla. Donec lacinia congue felis in faucibus.</div>
                        </div>
                    </td>
                    <td class="text-center">
                        <label class="switch">
                          <input type="checkbox" />
                          <span></span>
                      </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                              <input type="checkbox" />
                              <span class="fa fa-check"></span>
                          </label>
                        </div>
                    </td>
                    <td>
                        <div class="media">
                            <a class="float-left" href="#">
                                <img class="img-fluid circle" src="assets/img/user/03.jpg" alt="" />
                            </a>
                            <div class="media-body">
                                <div class="float-right badge badge-info">writer</div>
                                <h4>Alexis Foster</h4>
                                <p>Username: ali89</p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                                fringilla. Donec lacinia congue felis in faucibus.</div>
                        </div>
                    </td>
                    <td class="text-center">
                        <label class="switch">
                          <input type="checkbox" checked="checked" />
                          <span></span>
                      </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                              <input type="checkbox" />
                              <span class="fa fa-check"></span>
                          </label>
                        </div>
                    </td>
                    <td>
                        <div class="media">
                            <a class="float-left" href="#">
                                <img class="img-fluid circle" src="assets/img/user/05.jpg" alt="" />
                            </a>
                            <div class="media-body">
                                <div class="float-right badge badge-info">editor</div>
                                <h4>Mario Miles</h4>
                                <p>Username: mariomiles</p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                                vulputate fringilla. Donec lacinia congue felis in faucibus.</div>
                        </div>
                    </td>
                    <td class="text-center">
                        <label class="switch">
                          <input type="checkbox" checked="checked" />
                          <span></span>
                      </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- END table-responsive-->
    <div class="card-footer">
        <div class="d-flex">
            <div>
                <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect04">
                      <option value="0">Bulk action</option>
                      <option value="1">Delete</option>
                      <option value="2">Clone</option>
                      <option value="3">Export</option>
                  </select>
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button">Apply</button>
                    </div>
                </div>
            </div>
            <div class="ml-auto">
                <ul class="pagination pagination-sm">
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">»</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END card-->
<!-- START row-->
<div class="row" style="display: none">
    <div class="col-xl-6">
        <!-- START card-->
        <div class="card card-default">
            <div class="card-header">Demo Table #3
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="table-ext-3">
                        <thead>
                            <tr>
                                <th>Task name</th>
                                <th>Progress</th>
                                <th>Deadline</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nunc luctus, quam non condimentum ornare</td>
                                <td>
                                    <div class="progress progress-xs">
                                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </td>
                                <td>05/05/2014</td>
                            </tr>
                            <tr>
                                <td>Integer in convallis felis.</td>
                                <td>
                                    <div class="progress progress-xs">
                                        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </td>
                                <td>15/05/2014</td>
                            </tr>
                            <tr>
                                <td>Nullam sit amet magna vestibulum libero dapibus iaculis.</td>
                                <td>
                                    <div class="progress progress-xs">
                                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                            <span class="sr-only">50% Complete</span>
                                        </div>
                                    </div>
                                </td>
                                <td>05/10/2014</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END table-responsive-->
            </div>
        </div>
        <!-- END card-->
    </div>
    <div class="col-xl-6">
        <!-- START card-->
        <div class="card card-default">
            <div class="card-header">Demo Table #4</div>
            <!-- START table-responsive-->
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Activity</th>
                            <th>Completion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Bootstrap 5.x</td>
                            <td>
                                <div [sparkline]="sparkOptions1" values="3,6,7,8,4,5"></div>
                            </td>
                            <td>
                                <div class="badge badge-danger">Canceled</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Web Engine</td>
                            <td>
                                <div [sparkline]="sparkOptions2" values="1,4,4,10,5,9,2"></div>
                            </td>
                            <td>
                                <div class="badge badge-success">Complete</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Nullam sit amet</td>
                            <td>
                                <div [sparkline]="sparkOptions3" values="1,4,4,7,5,9,4"></div>
                            </td>
                            <td>
                                <div class="badge badge-warning">Delayed</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- END table-responsive-->
        </div>
        <!-- END card-->
    </div>
</div>
<!-- END row-->

<!--modal-->
<div class="modal fade" id="usuarioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Usuario Alta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!----->