<div class="card">
    <div class="card-header">
        Alta de persona
    </div>
    <div class="card-body">

        <form #userForm="ngForm" (ngSubmit)="addPerson()">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="persona._id">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationDefault01">Nombre</label>
                    <input type="text" class="form-control" name="nombre" #name="ngModel" [(ngModel)]="persona.nombre" placeholder="Nombre Completo" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationDefault02">Apellido</label>
                    <input type="text" class="form-control" name="apellido" #name="ngModel" [(ngModel)]="persona.apellido" placeholder="Apellido" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationDefault02">Direccion</label>
                    <input type="text" class="form-control" name="direccion" #name="ngModel" [(ngModel)]="persona.direccion" placeholder="direccion" required>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationDefault02">Telefono</label>
                    <input type="text" class="form-control" name="telefono" #name="ngModel" [(ngModel)]="persona.telefono" placeholder="telefono" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationDefault02">Correo</label>
                    <input type="text" class="form-control" name="correo" #name="ngModel" [(ngModel)]="persona.email" placeholder="email" required>
                </div>


            </div>

            <button class="btn btn-primary" type="submit">Guardar</button>
        </form>


    </div>
</div>