<div class="item user-block" *ngIf="userBlockIsVisible()">
    <!-- User picture-->
    <div class="user-block-picture">
        <div class="user-block-status">
            <img class="img-thumbnail rounded-circle" [src]="userService.usuario.fotoPerfil" alt="FotoPerfil" />
            <div class="circle bg-success circle-lg"></div>
        </div>
    </div>
    <!-- Name and Job-->
    <div class="user-block-info">
        <span class="user-block-name">{{ 'sidebar.WELCOME' | translate }}  {{ userService.usuario.nombre +' '+ userService.usuario.apellido}}</span>
        <br/>
        <span class="user-block-role">{{ userService.usuario.role }}</span>
    </div>
</div>